@import '../common/mixin.scss';
#industry-knowledge-page{
    position: relative;
    width: 100%;
    div.pc{
        .container{
            width: 1200px;
            margin: 0 auto;
        }
        .item-banner{
            .item-img{
                width: 100%;
                height: 462px;
                background-image: url("../assets/images/industryKnowledge/banner.png");
                background-size: 100% 100%;
            }
        }
        div.item-case{
            background-color: #fff;
            padding-top: 50px;
            padding-bottom: 120px;
            position: relative;
            >div.item-container{
                border: 1px solid #e0e0e0;
                padding: 20px;
                display: flex;
                margin-bottom: 20px;
                transition: all .3s ease-out;
                &:hover{
                    border: 1px solid #2c81ff;
                }
                >div{
                    &:nth-of-type(1){
                        flex: 1;
                        width: 297px;
                        height: 185px;
                        border: 1px solid #e0e0e0;
                        >img{
                            width: 297px;
                            height: 185px;
                        }
                    }
                    &:nth-of-type(2){
                        flex: 3;
                        position: relative;
                        margin-left: 40px;
                        >.title{
                            font-size: 22px;
                            color: #222222;
                        }
                        >.content{
                            color: #666666;
                            font-size: 15px;
                            margin-top: 20px;
                            line-height: 25px;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 3;
                            overflow: hidden;
                        }
                        >.detail{
                            text-align: right;
                            color: #3284ff;
                            font-size: 20px;
                            padding-right: 30px;
                            text-decoration: underline;
                            position: absolute;
                            line-height: 55px;
                            right: 0;
                            bottom: 0;
                            cursor: pointer;
                            &:after{
                                content: "";
                                width: 10px;
                                height: 10px;
                                display: inline-block;
                                border-left: 2px solid #3687ff;
                                border-bottom: 2px solid #3687ff;
                                transform: rotate(-135deg);
                                position: absolute;
                                top: 50%;
                                margin-top: -6px;
                                right: 15px;
                            }
                        }
                    }
                }
            }
            >.pagination {
                padding: 80px 0;
            }
        }
    }

    div.mobile{
        background-color: #f4f4f4;
        color: #666666;
        .m-container{
            background-color: #fff;
            border-bottom: px2rem(1px) solid #e0e0e0;
            padding: 0 px2rem(20px);
        }

        div.m-item-title{
            padding-top: px2rem(20px);
            padding-bottom: px2rem(20px);
            color: #4d4d4d;
            font-size: px2rem(34px);
            &:before{
                content: "";
                width: px2rem(5px);
                height: px2rem(30px);
                display: inline-block;
                vertical-align: middle;
                background-color: #5e9dfa;
            }
        }

        >div.m-item-banner{
            .m-item-img{
                width: 100%;
                height: px2rem(350px);
                @include img("../assets/images/industryKnowledge/m_banner.png",100% 100%);
            }
        }

        >.m-item-case{
            margin-top: px2rem(20px);
            padding-bottom: 1.8rem;
            background-color: #fff;
            >.m-item-list{
                border-bottom: px2rem(1px) solid #e0e0e0;
                >div{
                    display: flex;
                    padding: px2rem(30px) px2rem(20px);
                    >div{
                        &:nth-of-type(1){
                            width: 5rem;
                            height: 5.3rem;
                            flex: 1;
                            background-color: #ccc;
                            border-radius: 0.2rem;
                            background-size: 100% 100%;
                        }
                        &:nth-of-type(2){
                            flex: 2;
                            margin-left: px2rem(20px);
                            >div{
                                &:nth-of-type(1){
                                    font-size: 1rem;
                                    color: #333333;
                                }
                                &:nth-of-type(2){
                                    font-size: px2rem(26px);
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 1;
                                    overflow: hidden;
                                    color: #b0b0b0;
                                    margin-top: 0.5rem;
                                    letter-spacing: 0.09rem;
                                    >span{
                                        color: #333333;
                                        font-size: 0.8rem;
                                    }
                                }
                                &:nth-of-type(3){
                                    display: inline-block;
                                    background-color: #ffb420;
                                    color: #fff;
                                    font-weight: 400;
                                    border-radius: 0.2rem;
                                    padding: 0.2rem 0.55556rem;
                                    margin-top: 0.41667rem;
                                    float: right;
                                }
                            }
                        }
                    }
                }
            }
            >.m-more-case{
                width: 10.88889rem;
                height: 2.5rem;
                line-height: 2.5rem;
                text-align: center;
                color: #5e9dfa;
                font-size: px2rem(35px);
                border: 0.04rem solid #5e9dfa;
                margin: 2rem auto 0;
                border-radius: 0.2rem;
            }
        }
    }
}